@model DevIo.App.Models.ProductViewModel

@{
    ViewData["Title"] = "New Product";
}


<div class="container">
    <h3 class="mt-4">@ViewData["Title"]</h3>
    <hr class="my-4" />
    <div class="row d-flex justify-content-center jumbotron">
        <div class="col-md-6 card p-4">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image" class="control-label"></label>
                    <div class="custom-file">
                        <input asp-for="Image" class="form-control custom-file-input" style="cursor:pointer" />
                        <label class="custom-file-label">Choose File</label>
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control price" />
                    <span asp-validation-for="Price" class="text-danger" id="msgPrice"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="Provider" class="control-label"></label>
                    <select asp-for="ProviderId" class="form-control" asp-items="@(new SelectList(Model.Providers,"Id","Name"))">
                        <option></option>
                    </select>
                    <span asp-validation-for="ProviderId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-info btn-sm" />
                    <a asp-action="Index" class="btn btn-sm btn-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var input = document.querySelector('.custom-file-input');
        var price = document.querySelector('.price');
        var span = document.querySelector('#msgPrice');

        input.addEventListener("change", ChageName)
        price.addEventListener("blur", ValidatePrice)

        function ChageName() {
            var filename = input.value;
            document.querySelector('.custom-file-label').innerHTML = filename.substring(filename.lastIndexOf("\\") + 1);
        }

        function ValidatePrice() {
            var re = /^[0-9]{3,6}(,[0-9]{2})$/;
            if (!re.test(price.value)) {
                span.textContent = "Price must be a number between 100,00 and 999999,99";
                price.value = "";
            }
        }

    </script>
}
